GMAIL_USER=your@gmail.com
GMAIL_APP_PASSWORD=xxxx
RECIPIENT_EMAIL=your@gmail.com
CRON_SCHEDULE=0 7 * * *
OPENAI_API_KEY=sk-proj-xxx
APIFY_TOKEN=apify_api_xxx
ZOHO_USER=your@zohomail.eu
ZOHO_APP_PASSWORD=xxxx
OPENAI_API_KEY_VOICE=sk-proj-xxx
OPENAI_VOICE_PROMPT=pmpt_xxx
LINKEDIN_CLIENT_ID=xxxx
LINKEDIN_CLIENT_SECRET=xxxx
